<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../iconTab/car.png">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/style.css">

    <% if (typeof css !== 'undefined') { %>
        <link rel="stylesheet" href="/stylesheets/<%= css %>.css">
    <% } %>
        
    <script src="../jquery/jquery.min.js"></script>
    <script src="../jsBootstrap/bootstrap.min.js" defer></script>
    <script src="/javascripts/function.js" defer></script>

    <title><%= titre %></title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><% if (auth) { %> <%= auth.identifiant %><% } else { %>NodeVehicule<% } %></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="/" class="nav-link <% if (page === 'index'){ %>active<% } %>">Accueil</a>
                    </li>

                    <li class="nav-item">
                        <a href="/parcourir" class="nav-link <% if (page === 'parcourir'){ %>active<% } %>">Parcourir les véhicules</a>
                    </li>

                    <% if (auth) { %>
                    <li class="nav-item">
                        <a href="/user/ajouter" class="nav-link <% if (page === './user/ajouterVehicule'){ %>active<% } %>">Vendre un véhicule</a>
                    </li>
                    <% } %>
                </ul>

                <div class="d-flex" role="search">
                    <% if (!auth) { %>
                        <a href="/connexion" class="btn btn-primary mx-2">Connexion</a>
                        <a href="/inscription" class="btn btn-secondary">Inscription</a>
                    <% } else { %>
                        <a href="/utilisateur/<%= auth.identifiant %>" class="btn btn-secondary mx-2">Mon profil</a>
                        <form action="/user/deconnexion" method="post">
							<button class="btn btn-danger logout" type="submit">Déconnexion</button>
						</form>
                    <% } %>
                </div>

            </div>
        </div>
    </nav>

    <%- include(`../${page}`) %>

</body>
</html>