<form method="post" action="/inscription" class="reduceForm container border p-3 mt-5">

    <%- include("./partials/message") %>

    <% const fields = {}
        if (keep_values !== '') {
            keep_values.forEach(function(json) {
                for (const [key, value] of Object.entries(json)) {
                    fields[key] = value
                }
            })
        }
    %>

    <div class="mb-3">
        <label for="identifiant" class="form-label">Identifiant</label>
        <input type="text" name="identifiant" class="form-control" id="identifiant" value="<%= (fields.identifiant) ? fields.identifiant : '' %>" autofocus>
    </div>

    <div class="mb-3">
        <label for="nom" class="form-label">Nom</label>
        <input type="text" name="nom" class="form-control" id="nom" value="<%= (fields.nom) ? fields.nom : '' %>">
    </div>

    <div class="mb-3">
        <label for="prenom" class="form-label">Prénom</label>
        <input type="text" name="prenom" class="form-control" id="prenom" value="<%= (fields.prenom) ? fields.prenom : '' %>">
    </div>

    <div class="mb-3">
        <label for="ville" class="form-label">Ville</label>
        <input type="text" name="ville" class="form-control" id="ville" value="<%= (fields.ville) ? fields.ville : '' %>">
    </div>
    
    <div class="mb-3">
        <label for="mdp" class="form-label">Mot de passe</label>
        <input type="password" name="mdp" class="form-control" id="mdp">
    </div>

    <div class="mb-3">
        <label for="mdp_c" class="form-label">Confirmez le mot de passe</label>
        <input type="password" name="mdp_c" class="form-control" id="mdp_c">
    </div>
    <button type="submit" class="btn btn-success">S'inscrire</button>
</form>