<div class="mt-5 container vehicule">

    <div class="d-flex flex-wrap justify-content-between vehicule-infos-container">
        <img class="iconUsersVehicule" src="<%= vehicule.image %>" class="img-fluid" height="500" width="500">

        <div class="card vehicule-infos">
            <div class="card-body">
                <img src="https://picsum.photos/80" class="img-thumbnail">

                <a class="d-inline-block" href="/utilisateur/<%= vehicule.Utilisateur.identifiant %> "><%= vehicule.Utilisateur.nom + ' ' + vehicule.Utilisateur.prenom %></a>

                <hr class="mb-0">

                <div class="d-flex flex-row justify-content-between align-items-center">
                    <a href="/parcourir/<%= vehicule.type %>">TYPE: <%= vehicule.type.toUpperCase() %></a>
                    <i>Mise en ligne le : <a href=""><%= vehicule.publication %></a></i>
                </div>

                <h2 class="text-center mt-3">
                    <%= vehicule.marque.toUpperCase() + ' ' + vehicule.modele.toUpperCase() %>
                </h2>

                <div class="infos border mt-3 d-flex justify-content-between">
                    <span class="info">
                        <i class="fa-solid fa-gear"></i>
                        <%= vehicule.boite.toUpperCase() %>
                    </span>

                    <span class="info">
                        <i class="fa-solid fa-gas-pump"></i>
                        <%= vehicule.energie.toUpperCase() %>
                    </span>

                    <span class="info">
                        <i class="fa-solid fa-calendar-days"></i>
                        <%= vehicule.annee %>
                    </span>

                    <span class="info">
                        <i class="fa-solid fa-globe"></i>
                        <%= vehicule.km %> km
                    </span>
                </div>

                <h3 class="text-center mt-4 gras">
                    <%= new Intl.NumberFormat(undefined, { style: 'currency' , currency: 'EUR' }).format(vehicule.prix) %>
                </h3>
            </div>
        </div>
    </div>

    <div class="mt-5 border rounded details">
        <h3 class="details-title gras">Description</h3>
        <div id="description"><%= (vehicule.description.trim() === '') ? '<i>Cette annonce ne contient aucune description.<i>' : vehicule.description %></div>
    </div>

    <div class="mt-5">
        <h3 class="details-title gras"><%= firstUpperCase(vehicule.type) + '(s)' %> similaire(s)</h3>

        <div class="d-flex flex-wrap produitsSimilaires">
            <%- include("../components/cardVehicule") %>
        </div>
    </div>
</div>