<form method="post" action="/user/vehicule" class="reduceForm container border p-3 mt-5">

    <%- include("../partials/message") %>

    <% const fields = {}
        if (keep_values !== '') {
            keep_values.forEach(function(json) {
                for (const [key, value] of Object.entries(json)) {
                    fields[key] = value
                }
            })
        }
    %>

    <div class="mb-3">
        <label for="type" class="form-label">Type du véhicule correspondant</label>
        <select class="form-select" id="type" name="type">
            <option value="voiture" <%= (fields.type === 'voiture') ? "selected" : '' %>>Voiture</option>
            <option value="moto" <%= (fields.type === 'moto') ? "selected" : '' %>>Moto</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="image" class="form-label">Image (URL)</label>
        <input type="text" name="image" class="form-control" id="image" value="<%= (fields.image) ? fields.image : '' %>" autofocus>
    </div>

    <div class="mb-3">
        <label for="marque" class="form-label">Marque</label>
        <input type="text" name="marque" class="form-control" value="<%= (fields.marque) ? fields.marque : '' %>" id="marque">
    </div>

    <div class="mb-3">
        <label for="modele" class="form-label">Modèle</label>
        <input type="text" name="modele" class="form-control" value="<%= (fields.modele) ? fields.modele : '' %>" id="modele">
    </div>

    <div class="mb-3">
        <label for="boite" class="form-label">Boite de transmission</label>
        <select class="form-select" name="boite" id="boite">
            <option value="automatique" <%= (fields.boite === 'automatique') ? "selected" : '' %>>Automatique</option>
            <option value="manuelle" <%= (fields.boite === 'manuelle') ? "selected" : '' %>>Manuelle</option>
            <option value="sequentielle" <%= (fields.boite === 'sequentielle') ? "selected" : '' %>>Séquentielle</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="energie" class="form-label">Energie</label>
        <select class="form-select" name="energie" id="energie">
            <option value="essence" <%= (fields.energie === 'essence') ? "selected" : '' %>>Essence</option>
            <option value="diesel" <%= (fields.energie === 'diesel') ? "selected" : '' %>>Diesel</option>
            <option value="electrique" <%= (fields.energie === 'electrique') ? "selected" : '' %>>Electrique</option>
            <option value="hybride" <%= (fields.energie === 'hybride') ? "selected" : '' %>>Hybride</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="annee" class="form-label">Année</label>
        <select class="form-select" name="annee" id="annee">
            <% for (let i = new Date().getFullYear(); i>= 1950; i--) { %>
                <option value="<%= i %>" <%= (fields.annee === i) ? "selected" : '' %>><%= i %></option>
                <% } %>
        </select>
    </div>

    <div class="mb-3">
        <label for="km" class="form-label">KM</label>
        <input type="number" name="km" class="form-control" id="km" step="1" min="0" max="5500000" value="<%= (fields.km) ? fields.km : '' %>">
    </div>

    <hr class="mt-5">

    <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Laissez un commentaire" name="description" id="description"><%= (fields.description) ? fields.description : '' %></textarea>
        <label for="description" class="form-label">Description</label>
    </div>

    <div class="mb-3">
        <label for="prix" class="form-label">Prix</label>
        <input type="number" name="prix" class="form-control" id="prix" step="1" min="0" max="30000000" value="<%= (fields.prix) ? fields.prix : '' %>">
    </div>

    <div class="form-text">Une fois vendu, le véhicule ne pourra pas être modifié</div>
    <button type="submit" class="btn btn-success">Mettre en vente</button>
</form>